.comment {
  width: 70%;
  padding: 10px;
  height: 200px;
  border: solid 2px #dedede;
  background-color: white;
  overflow: auto;
}

.comments_list {
  list-style: none;
}

.comment-name {
  color: #3ccace;
}